{{!< layout}}
<body>
<section class="appleevent">
<div id="main">
	<div class="container">
		<div class="row bump">
			<div class="col-lg-6 col-lg-offset-3 title">
				<h1>{{title}}</h1>
			</div>
		</div>

			<div class="row row1 tables ">
		  
		            <div class="col-lg-offset-1 col-lg-2 tb col1 diag1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2"><span id="x1" class='title'>Laser Focused </span> </div>
		           	<div class="col-lg-2 tb col2 col-md-2 col-sm-2 col-xs-2" ><span id="x2" class='title'>Double Down</span>  </div>
		            <div class="col-lg-2 tb col3 col-md-2 col-sm-2 col-xs-2"><span id="x3" class='title'>Magical</span>  </div>
		            <div class="col-lg-2 tb col4 col-md-2 col-sm-2 col-xs-2"><span id="x4"class='title'>iPhone 6</span>  </div>
		             <div class="col-lg-2 tb col-md-2 col5 diag2 col-sm-2 col-xs-2" ><span class='title' id="x5">Resolution</span>  </div>
	        
	    	</div>
	    	<div class="row row2">

                    <div class="col-lg-offset-1 col-lg-2 tb col1 col-md-2 col-md-offset-1 col-sm-2  col-sm-offset-1 col-xs-2" ><span id="x6" class='title'>Revolutionary</span>  </div>
                    <div class="col-lg-2 tb col2 diag1 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x7">Point of Sale</span>  </div>
                    <div class="col-lg-2 tb col3 col-md-2 col-sm-2 col-xs-2"><span id="x8" class='title'>Battery Life</span>  </div>
		            <div class="col-lg-2 tb col4 diag2 col-md-2 col-sm-2 col-xs-2"><span id="x9" class='title'>iWatch</span>  </div>
		            <div class="col-lg-2 tb col5 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x10">Sapphire</span>  </div>
       
			</div>
			<div class="row row3">
                    <div class="col-lg-offset-1 col-sm-offset-1 col-lg-2 tb col-md-2 col-md-offset-1 col-sm-2 col-xs-2"><span id="x11" class='title'>One More Thing</span>  </div>
                    <div class="col-lg-2 tb col2 col-md-2 col-sm-2 col-xs-2"><span id="x12" class='title'>Incredible</span></div>
                    <div class="col-lg-2 tb col3 diag1 diag2 col-md-2 col-sm-2 col-xs-2"><span id="x13" class='title'>'Only Apple Can'</span>  </div>
                    <div class="col-lg-2 tb col4 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x14">Aluminum</span>  </div>
                    <div class="col-lg-2 tb col5 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x15">Beautiful</span>  </div>
			</div>
	    	<div class="row row4">
                    <div class="col-lg-offset-1 col-lg-2 tb col-md-2  col-sm-offset-1 col-md-offset-1 col-sm-2 col-xs-2"><span class='title' id="x16">Precision</span>  </div>
                    <div class="col-lg-2 tb col2 diag2 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x17">Game Changer</span>  </div>
                    <div class="col-lg-2 tb col3 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x18">Sleek </span> </div>
                    <div class="col-lg-2 tb col4 diag1 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x19">Makes fun of Android </span> </div>
                    <div class="col-lg-2 tb col5 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x20">Best [name] ever made'</span> </div>
            </div>
                <div class="row row5">
                    <div class="col-lg-offset-1 col-lg-2 tb col1 diag2 col-md-2 col-md-offset-1 col-sm-2 col-xs-2  col-sm-offset-1"><span class='title' id="x21">Gorgeous </span> </div>
                    <div class="col-lg-2 tb col2 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x22">'My ass' </span> </div>
                    <div class="col-lg-2 tb col3 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x23">Innovate </span> </div>
                    <div class="col-lg-2 tb col4 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x24">Misleading graphs </span> </div>
                    <div class="col-lg-2 tb col5 diag1 col-md-2 col-sm-2 col-xs-2"><span class='title' id="x25">Innovate </span> </div>
		  </div> 
		  <div class="row">
		<div class="col-lg-4 col-lg-offset-4 col-md-12 col-sm-12 col-xs-12 center">
			<h2>Instructions:</h2>
			<p>Click the ones you hear on the Apple live stream! Get five in a row and get bingo - you can also get multiple bingos</p>
			<p>Alternative version: Drink every time you click a tile</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4 holder">
			<p class="text-muted">This website kindly sponsored by</p>
			<a href="http://hoistapps.com">
			<img src="/img/hoist.png"></a>
		</div>
	</div>
		</div>
		
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">You got bingo!</h4>
      </div>
      <div class="modal-body">
      	<div class="result">

      	</div>
      	<div class="social">
      		<a id="link" href="" target="_blank">Share your result!</a><span class="icon-twitter"></span>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
	var theResult;

	$( document ).ready(function() {
    var theWords = ["Laser Focused","Revolutionary","One More Thing","Precision", "Gorgeous","Double Down","Point of Sale","Incredible","Game Changer","'My Ass'","Magical","Battery Life","'Only Apple Can'", "Sleek", "Innovate", "iPhone 6","iWatch","Aluminium","Makes fun of Android","Misleading graphs","Resolution","Sapphire","Beautiful","Best [name] ever made", "Other Guys", "Jony Ive"];

    shuffledWords = _.shuffle(theWords);
    console.log(shuffledWords);

    for(var i = 0; i < shuffledWords.length; i++) {
    	$("#x" + i).html(shuffledWords[i]);
	}
	$( ".tb" ).show();
	});
 
	$( ".tb" ).click(function() {
  		$(this).toggleClass( "checked");
  		checkBingo();
	});
	var bingos = {
		row1: false,
		row2: false,
		row3: false,
		row4: false,
		row5: false,
		col1: false,
		col2: false,
		col3: false,
		col4: false,
		col5: false,
		diag1: false,
		diag2: false
	};

	function getText() {

		var els = $(".checked.tb");
		var text = [];
		for(var i = 0; i < els.length; i++) {

			var el = $(".title", els[i]);
			text.push(el.text());

		}
		theResult = (text.join(", "));

	}

	function checkBingo() {

		if($(".tb").length === $(".tb.checked").length) {
			getText();
					$('.result').html("I got Apple bingo: " + theResult);
					var constructTweet = "https://twitter.com/intent/tweet?text=" + "Got #applebingo! " + theResult + "http://owenwillia.ms/applebingo";
					$('#link').attr('href', constructTweet)
					$('#myModal').modal({show:true});
					$('.result').html("I got Apple bingo: " + theResult);
		}

		for(var i = 1; i <= 5; i++) {
			if(!bingos["row" + i]) {
				if($(".row" + i + " .tb").length === $(".row" + i + " .tb.checked").length) {
					getText();
					$('.result').html("I got Apple bingo: " + theResult);
					var constructTweet = "https://twitter.com/intent/tweet?text=" + "Got #applebingo! " + theResult + "http://owenwillia.ms/applebingo";
					$('#link').attr('href', constructTweet)
					$('#myModal').modal({show:true});
					$('.result').html("I got Apple bingo: " + theResult);
					bingos["row" + i] = true;
				}
			}
		}

		for(var i = 1; i <= 5; i++) {
			if(!bingos["col" + i]) {
				if($(".col" + i + ".tb").length === $(".col" + i + ".tb.checked").length) {
					getText();
					$('.result').html("Got #applebingo! " + theResult);
					var constructTweet = "https://twitter.com/intent/tweet?text=" + "Apple Bingo! " + theResult + " " + "http://owenwillia.ms/applebingo";
					$('#link').attr('href', constructTweet)
					$('#myModal').modal({show:true});
					bingos["col" + i] = true;
				}
			}
		}

		for(var i = 1; i <= 2; i++) {
			if(!bingos["diag" + i]) {
				if($(".diag" + i + ".tb").length === $(".diag" + i + ".tb.checked").length) {
					getText();
					$('.result').html("Got #applebingo! " + theResult);
					var constructTweet = "https://twitter.com/intent/tweet?text=" + "Apple Bingo! " + theResult + "http://owenwillia.ms/applebingo";
					$('#link').attr('href', constructTweet)
					$('#myModal').modal({show:true});
					$('.result').html("I got Apple bingo: " + theResult);
					bingos["diag" + i] = true;
				}
			}
		}

		//if($(".tb.row1").length === $(".tb.row1.checked").length) {
			//full bingo
		//}




	}
</script>
</section>
</body>

