{{!< layout}}
<body class="page">
  <section class="newsletter">
  <div class="overlay"></div>
    <div class="col-lg-4 col-lg-offset-4 col-md-5 col-sm-6 col-sm-offset-3 formcontainer">
      <form action="http://owened.us8.list-manage.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="7ba9643cb80dac69c6818848c">
        <input type="hidden" name="id" value="00010c34a8">
        <div class="logo">
          <h1>CHARGED</h1>
        </div>
        <div class="blurb">
          <p>Thank you so much for your signup, I just need to confirm your email address.</p>
          <p>To complete the subscription process, all you have to do is click the link in the email I just sent you. You won't receive another email until the newsletter goes out.</p>
          <p>In the meantime, you should check out the archive of old editions <a href="http://us8.campaign-archive1.com/home/?u=7ba9643cb80dac69c6818848c&id=00010c34a8">here</a>.</p>
          <p>You're awesome. <br />--Owen</p>
        </div>
      </form>
    </div>
    </section>