<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/app.styles.min.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <link href="//cloud.webtype.com/css/50cf5f05-6cd4-41eb-a33d-b7dc8c83359d.css" rel="stylesheet" type="text/css" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49196912-1', 'auto');
  ga('send', 'pageview');

</script>
</head>


    {{{body}}}

  {{#ifvalue settings.env value="development"}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/ifvalue}}
 
  <script src="/js/app.min.js"></script>

</body>
</html>
