{{!< layout}}
<body class="page">
<section class="newsletter">
<div class="overlay"></div>
    <div class="col-lg-4 col-lg-offset-4 col-md-5 col-sm-6 col-sm-offset-3 formcontainer">
      <form action="http://owened.us8.list-manage.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="7ba9643cb80dac69c6818848c">
        <input type="hidden" name="id" value="00010c34a8">
        <div class="logo">
          <h1>CHARGED</h1>
        </div>
        <div class="blurb">
          <p>Every weekend, <a href="http://twitter.com/ow">Owen Williams</a> aggregates the best reads from the tech industry and boils them down into easy to understand language delivered right into your inbox.</p>
          </p>
          <p>
             Charged is the best way to follow top tech stories (with some opinion/analysis on what they mean), emerging startups and discover interesting people on Twitter without needing to keep up with tech sites or decipher cryptic stories.
          </p>
          <p>
            Just so you know, I won't email more than once a week (in the weekend) and it'll always be a good read. Promise.</p>
            <p>I highly recommend you check out the archive <a href="http://us8.campaign-archive1.com/home/?u=7ba9643cb80dac69c6818848c&id=00010c34a8">here</a>.</p>
        </div>
        <div class="emailfield form-group">
          <input type="email" class="form-control" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Email Address">
        </div>
        <div class="namefield form-group">
          <input type="text" class="form-control" name="MERGE1" id="MERGE1" size="25" value="" placeholder="First Name">
        </div>

        <button type="submit" class="btn" name="submit">Sign me up!</button>
      </form>
      <br/>
      <a href="/newsletter/love"><h4>Words from subscribers →</h4></a>
      <blockquote class="twitter-tweet" lang="en"><p>Charged has a special place in my mailbox, it’s one of the very few newsletters that I save in a special folder. Just FYI.</p>&mdash; <a href="https://twitter.com/FR314/statuses/504059591165247488">Ben Donkor (@FR314)</a></blockquote>
       <div class="sub"><a href="/newsletter/sponsor">Sponsorship</a> | <a href="/newsletter/about">More about Charged</a> | <!--<a href="/newsletter/terms/">Terms</a>--></div>
  </div>
    </div>
  </section>
