{{!< layout}}
<body class="page">
<section class="newsletter">
  <div class="overlay"></div>
    <div class="col-lg-4 col-lg-offset-4 col-md-5 col-sm-6 col-sm-offset-3 formcontainer-sponsor">
        <div class="logo">
          <a href="/newsletter"><h1>CHARGED</h1></a>
        </div>
        <h2>Sponsorships</h2>
        <div class="blurb">
          <p>I spend a lot of time writing this newsletter for no cost to readers because I enjoy sharing what I read. </p><p>Making money is not the primary goal of Charged, however, I place small, appropriate advertisements occasionally.</p>
          <p>Charged is now open for sponsorships, which are <a href="https://cloudup.com/ccvNYiQbfPv">in the form of two sentence items</a> in the 'news' segment. The newsletter enjoys a very high open rate (~70%) / click rate (~35%) and is growing quite fast.</p>
          <p>If you're interested in sponsoring or talking about ways we could work together, <a href="mailto:hi@owened.co.nz?sqs_title=Sponsor+Charged!">contact me here</a> and let's see what we can do.</p>
          <p>Not already on the mailing list? Sign up <a href="http://owenwillia.ms/newsletter">here!</a></p>
        </div>
    </div>
</section>