{{!< layout}}
<body class="page">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Simple Terms</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>There is ONE slightly used Galaxy Gear Live watch being given away</li>
          <li>The Watch will have no warranty and I am not responsible for if it works or not</li>
          <li>I will ship the watch free to the winner, provided they're in a country where this is possible</li>
          <li>The winner must pay all appropriate taxes for importing the Galaxy Gear</li>
          <li>I will not be responsible for any losses due to the watch</li>
          <li>This is not exchangeable for cash/refund/return</li>
          <li>The randomly selected winner will be contacted via email sometime after October 15 and has 7 days to reply. If no response, another winner will be randomly selected.<li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <section class="newsletter win">
  <div class="overlay"></div>
    <div class="col-lg-4 col-lg-offset-4 col-md-5 col-sm-6 col-sm-offset-3 formcontainer">
      <form action="http://owened.us8.list-manage.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="7ba9643cb80dac69c6818848c">
        <input type="hidden" name="id" value="00010c34a8">
        <div class="logo">
          <h1>CHARGED</h1>
        </div>
        <div class="blurb">
          <img src="/img/watch.jpg" id="gotit">
          <p>Want to win a free Samsung smart watch?</p>
          <p>Sign up for Charged newsletter by October 15 and you could win a free Samsung Galaxy Gear Live smart watch. Read the <a class="" data-toggle="modal" data-target="#myModal">
  terms of giveaway.
</a></p>
                    <p>
             Charged is the best way to follow top tech stories (with some opinion/analysis on what they mean), emerging startups and discover interesting people on Twitter without needing to keep up with tech sites or decipher cryptic stories.
          </p>
          <!-- Button trigger modal -->
        <form action="http://owened.us8.list-manage.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="7ba9643cb80dac69c6818848c">
        <input type="hidden" name="id" value="00010c34a8">
                <div class="emailfield form-group">
          <input type="email" class="form-control" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Email Address">
        </div>
        <div class="namefield form-group">
          <input type="text" class="form-control" name="MERGE1" id="MERGE1" size="25" value="" placeholder="First Name">
        </div>

        <button type="submit" class="btn" name="submit">Sign me up!</button>
      </form>
        </div>
      </form>
    </div>
    </section>