body, html {
  height: 100%; }

section {
  height: 100%;
  width: 100%; }

.index h1, .index h2, .index h3, .index h4 {
  font-family: "Harriet Display Medium";
  font-style: italic;
  font-weight: normal; }
.index p {
  font-family: "Harriet Display Medium";
  font-style: normal;
  font-weight: normal;
  color: white; }
.index h1 {
  font-family: "Harriet Display Medium";
  font-style: italic;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 4em;
  color: white; }
.index .makeitrain {
  font-size: 1.5em;
  line-height: 35px; }
.index .center {
  text-align: center; }
.index .logo img {
  height: 70px; }
.index .logo {
  padding-bottom: 20px;
  text-align: center; }
.index .center {
  text-align: center; }
.index a {
  font-family: "Harriet Display Medium";
  font-style: italic;
  border-bottom: 2px solid #F7EE0C;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: none; }
.index a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8); }
.index .image img {
  width: 100%;
  border-radius: 99em; }
.index .image {
  margin-top: 40px; }
.index .here {
  background: pink; }
.index .here::before {
  background-color: red;
  width: 150px;
  height: 150px; }
.index .middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.index .img-src {
  position: absolute;
  background-position: center;
  -webkit-background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
  width: 100%;
  height: 100%; }
.index .img-src.blurred-image {
  opacity: 0; }
.index .articles {
  height: auto;
  margin-bottom: 40px; }
  .index .articles a {
    font-family: "Harriet Display Medium";
    font-style: italic;
    border-bottom: 2px solid #F7EE0C;
    color: black;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none; }
  .index .articles a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8); }
  .index .articles h1, .index .articles h2 {
    color: black;
    font-style: italic; }
  .index .articles h3 {
    color: black;
    font-size: 1.2em; }
@media only screen and (max-width: 1200px) {
  .index .image img {
    width: 200px; }
  .index .image {
    text-align: center;
    width: auto; } }
@media screen and (max-width: 480px) {
  .index .image img {
    width: 120px; }
  .index .middle {
    top: 0%;
    -webkit-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    transform: translateY(-0%); }
  .index h1 {
    font-size: 1.5em; }
  .index .makeitrain {
    font-size: 1.1em; } }

.page {
  background: url('./img/bg.png') repeat; }

.newsletter .formcontainer {
  background-color: #D02027;
  padding: 20px 20px 20px 20px; }
.newsletter .logo {
  font-family: "mandagregular";
  line-height: 1em; }
.newsletter .overlay {
  background: rgba(47, 47, 47, 0.22);
  position: absolute;
  width: 100%;
  height: 100%; }
.newsletter h1 {
  margin-top: 0px;
  font-size: 52px;
  color: white; }
.newsletter h2 {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }
.newsletter p {
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 0.3px; }
.newsletter .form-control {
  border-radius: 0;
  outline: none;
  border: none !important;
  box-shadow: none !important;
  width: 300px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.newsletter .btn {
  border-radius: 0; }
.newsletter label {
  color: white;
  padding-top: 10px; }
.newsletter .formcontainer {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.newsletter .formcontainer-alt {
  position: relative;
  background-color: #D02027;
  padding: 20px 20px 20px 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.newsletter ul, .newsletter li {
  color: white; }
.newsletter .formcontainer-sponsor {
  position: relative;
  background-color: #D02027;
  padding: 20px 20px 20px 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.newsletter .sub {
  padding-top: 15px;
  font-size: 10px;
  color: white; }
.newsletter .btn {
  color: white;
  background-color: #14827a;
  border-color: transparent; }
.newsletter .btn:hover {
  background-color: #5a857f;
  border-color: transparent;
  color: white; }
.newsletter a {
  color: white;
  border-bottom: 1px white dashed;
  text-decoration: none; }
.newsletter a:hover {
  color: #A9A9A9;
  text-decoration: none;
  border-bottom: 1px #A9A9A9 dashed; }
.newsletter .logo a {
  text-decoration: none;
  color: white; }
.newsletter .logo a:hover {
  text-decoration: none;
  color: white; }
.newsletter blockquote {
  font-size: 14px;
  color: white; }
.newsletter h4 {
  color: white; }
@media (max-width: 600px) {
  .newsletter .form-control {
    width: auto; }
  .newsletter .page {
    background: url('./img/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .newsletter .formcontainer, .newsletter .formcontainer-sponsor, .newsletter .formcontainer-alt {
    height: 100% !important;
    top: 0; } }
@media screen and (max-height: 846px) {
  .newsletter .formcontainer {
    top: 0%;
    -webkit-transform: translateY(-0%);
    -ms-transform: translateY(-0%);
    transform: translateY(-0%); } }

@font-face {
  font-family: 'mandagregular';
  src: url('./font/mandag-mandag-webfont.eot');
  src: url('./font/mandag-mandag-webfont.eot?#iefix') format('embedded-opentype'), url('./font/mandag-mandag-webfont.woff') format('woff'), url('./font/mandag-mandag-webfont.ttf') format('truetype'), url('./font/mandag-mandag-webfont.svg#mandagregular') format('svg');
  font-weight: normal;
  font-style: normal; }

/*APPLE BINGO*/
.appleevent body {
  font-family: Helvetica Neue, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }
.appleevent .tb {
  border: 1px solid black;
  padding: 15px;
  text-align: center; }
.appleevent .tb:hover {
  background: grey; }
.appleevent #main {
  background: #fff url("/img/invite.jpg") center top no-repeat;
  background-size: auto 100%;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 1140px;
  z-index: 1; }
.appleevent h1 {
  font-weight: 200; }
.appleevent .title {
  text-align: center;
  margin-bottom: 40px; }
.appleevent .bump {
  margin-top: 180px; }
.appleevent .icon-twitter {
  color: #4099FF;
  font-size: 1.5em; }
.appleevent .social {
  color: #4099FF; }

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-r8kae5');
  src: url('fonts/icomoon.eot?#iefix-r8kae5') format('embedded-opentype'), url('fonts/icomoon.woff?-r8kae5') format('woff'), url('fonts/icomoon.ttf?-r8kae5') format('truetype'), url('fonts/icomoon.svg?-r8kae5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: "\e600"; }
